
on post-fs

    # boot perf. tune
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "0 100"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "1 100"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "2 100"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "3 100"

on property:sys.boot_completed=1
    # Configure clamps for standard task groups.

    # system-background
    # cap the max utilisation for system-background tasks to save power.
    write /dev/cpuctl/system-background/cpu.uclamp.max 40
    write /dev/cpuctl/system-background/cpu.uclamp.min 0
    write /dev/cpuctl/system-background/cpu.uclamp.latency_sensitive 0

    # foreground
    # cap the max utilisation for foreground tasks to save power.
    write /dev/cpuctl/foreground/cpu.uclamp.max 80
    write /dev/cpuctl/foreground/cpu.uclamp.min 10
    write /dev/cpuctl/foreground/cpu.uclamp.latency_sensitive 0

    # top-app
    write /dev/cpuctl/top-app/cpu.uclamp.max max
    write /dev/cpuctl/top-app/cpu.uclamp.min 10
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 1

    # background
    # cap the max utilisation for background tasks to save power.
    write /dev/cpuctl/background/cpu.uclamp.max 50
    write /dev/cpuctl/background/cpu.uclamp.min 0
    write /dev/cpuctl/background/cpu.uclamp.latency_sensitive 0

    # nnapi-hal
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.max max
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.min 75
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.latency_sensitive 1

    # camera-daemon
    write /dev/cpuctl/camera-daemon/cpu.uclamp.max max
    write /dev/cpuctl/camera-daemon/cpu.uclamp.min 0
    write /dev/cpuctl/camera-daemon/cpu.uclamp.latency_sensitive 1

    write /sys/devices/system/cpu/eas/enable 2
    write /proc/cpufreq/cpufreq_sched_disable 0

    write /proc/sys/kernel/sched_migration_cost_ns 200000
    write /proc/perfmgr/boost_ctrl/eas_ctrl/sched_big_task_rotation 1

    # restore perf. parameters
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "0 0"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "1 0"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "2 0"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "3 0"
    write /proc/perfmgr/boost_ctrl/cpu_ctrl/boot_freq "-1 -1 -1 -1 -1 -1"
    write /sys/devices/platform/boot_dramboost/dramboost/dramboost 0
